NEXT_PUBLIC_FIREBASE_API_KEY=<SECRET_REMOVED>
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=<SECRET_REMOVED>
NEXT_PUBLIC_FIREBASE_PROJECT_ID=<SECRET_REMOVED>
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=<SECRET_REMOVED>
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=<SECRET_REMOVED>
NEXT_PUBLIC_FIREBASE_APP_ID=<SECRET_REMOVED>
NEXT_PUBLIC_FIRESTORE_DATABASE_ID=chaflow
